model_config_list {
  config {
    name: 'representation'
    base_path: '/models/representation'
	model_platform: "tensorflow"
  }
  config {
    name: 'dynamics'
    base_path: '/models/dynamics'
	model_platform: "tensorflow"
  }
  config {
    name: 'prediction'
    base_path: '/models/prediction'
	model_platform: "tensorflow"
  }
}
